@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hlasovani {
  background-color: #151515;
  color: white;
  padding: 100px 0;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #252525;
    border-radius: 5px;
    padding: 13px;
    gap: 15px;
    img {
      height: 50px;
      width: 50px;
    }

    input[type="text"] {
      background-color: transparent;
      border: none;
      font-size: 20px;
      outline: none;
      color: white;
    }
  }

  .buttonContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 80%;

    button {
      width: 250px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background-color: #252525;
      font-size: 20px;
      outline: none;
      color: #767676;
      border: none;
      padding: 15px;
      border-radius: 5px;
      transition: .3s;
      &:hover {
        background-color: #1a1a1a;
        cursor: pointer;
      }
    }
  }

  .statContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 80%;

    .card {
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-width: 375px;
      padding: 15px;
      border-radius: 15px;


      h3 {
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 25px;
      }

      p {
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      img {
        width: 75px;
      }
    }
  }
}

.minecraftservery {
  background: url("/minecraftservery.png") no-repeat center;
}

.minecraftlist {
  background: url("/hlasovani.png") no-repeat center;
}

.craftbook {
  background: url("/craftbook.png") no-repeat center;
}

.creeperlist {
  background: url("/creeperlist.png") no-repeat center;

}

@media only screen and (max-width: 700px) {
  .buttonContainer {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;

    button {
      width: 327px !important;
    }
  }
}

@media only screen and (max-width: 430px) {

  .statContainer {
    width: 90%;
  }

  .card {
    min-width: 0 !important;
    width: 100%;

    h3 {
      font-size: 20px !important;
    }

    img {
      width: 65px !important;
    }
  }
}


@media only screen and (max-width: 380px) {
  .inputContainer {
    width: 80%;
  }

  .buttonContainer {
    button {
      width: 80% !important;
    }
  }

  .statContainer {
    width: 90% !important;
  }

  .card {
    min-width: 0 !important;
    width: 100%;

    h3 {
      font-size: 18px !important;
    }

    img {
      width: 50px !important;
    }
  }
}


@media only screen and (max-width: 320px) {
  .inputContainer {
    input {
      font-size: 16px !important;
    }
  }

  .card {
    h3 {
      font-size: 15px !important;
    }
  }
}

@media only screen and (max-width: 280px) {
  .statContainer {
    width: 100% !important;
  }

  .card {
    img {
      width: 40px !important;
    }
  }
}