@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hlasovani {
  background-color: #151515;
  color: white;
  padding: 100px 0;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #252525;
    border-radius: 5px;
    padding: 13px;
    gap: 15px;
    img {
      height: 50px;
      width: 50px;
    }

    input[type="text"] {
      background-color: transparent;
      border: none;
      font-size: 20px;
      outline: none;
      color: white;
    }
  }

  .buttonContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 80%;

    button {
      width: 250px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background-color: #252525;
      font-size: 20px;
      outline: none;
      color: #767676;
      border: none;
      padding: 15px;
      border-radius: 5px;
      transition: .3s;
      &:hover {
        background-color: #1a1a1a;
        cursor: pointer;
      }
    }
  }
}