.header {
  min-height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background: url("/darkcraftBackgroundDarker.png") no-repeat center;
  color: white;
  text-align: center;

  h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 60px;
      margin: 10px auto;
      border-radius: 50px;
      opacity: 1;
      background-image: linear-gradient(0deg, #9C4BB1, #731a89);
    }
  }

  p {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.errorPage {
  background-color: #151515;
  color: white;
  padding-bottom: 100px;

  .errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

 p {
   font-family: "Kanit", sans-serif;
   font-weight: 600;
   font-style: normal;
   text-align: center;
 }
}

@media only screen and (max-width: 425px) {
  .header {
    h1 {
      font-size: 50px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .errorContainer {
    img {
      width: 250px !important;
    }
  }
}

@media only screen and (max-width: 290px) {
  .header {
    h1 {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 240px) {
  .errorContainer {
    img {
      width: 200px !important;
    }
  }
}